#foot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(41, 28, 28) ;
}

#foot .f1 a{
    padding: 10px;
    font-size: 1rem;
    color: aliceblue;
    text-decoration: none;
}








/* .foot{
    border: 1px solid;
    margin: 1px 0px;
    padding: 1px 1px;
    display: inline-block;
    width: 100%;
    height: 156px;
    background-color: rgb(41, 28, 28);
    
}

footer a{
    /* border: 1px solid;
    margin: 1px 2px;
    padding: 1px 2px;
    font-size: 18px;
    font-family: 'Gruppo', cursive;
    text-decoration: none;
    color: rgb(247, 217, 217);
}
footer a:hover{
     color: white;
}

.f1{
    border: 1px solid;
    position: relative;
    display: inline;
    left: 20px;
    margin: 1px 2px;
    padding: 1px 2px;
    left: 642px;
    top: 63px;
} */


